.bookSearchButton
{
  background-color: rgb(170, 170, 170);
  border: none;
  border-radius: 16px;
  color: black;
  cursor: pointer;
}

body
{
  background-color: rgb(49, 49, 49);
}

.firstWebsiteH1
{
  color: rgb(206, 206, 206);
}
